<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
  <div class="d-flex justify-content-start mx-2">
    <i class="bi bi-heart-pulse text-light fs-1"></i>
    &nbsp; &nbsp; &nbsp;<p class="fs-2 text-white mt-1">Patient Record</p>
  </div>
  <button class="btn btn-outline-light my-2 mx-2" type="button" (click)="showAddForm = true">Add New</button>
</nav>

<ng-container *ngIf="showAddForm">
  <app-add-patient-form (submitData)="addPatient($event)" (cancelData)="listenToCancelEvent($event)"></app-add-patient-form>
</ng-container>

<ng-container *ngIf="(patientData | async) as data">
  <app-table (deleteData)="deletePatientRec($event)" [userData]="data"></app-table>
</ng-container>
